/*--------------------------------------------------------------
## Media Footer
--------------------------------------------------------------*/
@import "media/media_footer";

.footer{
  &__bottom{
    background-color: $color__fb-background;
    color: $color__fb-color;
  }
  &__copyright{
    display: flex;
    justify-content: space-between;
  }
  &__top{
    background-color: $color__ft-background;
    color: $color__ft-color;
  }
  &__container{
    display:flex;
  }
  &__left{
    display: flex;
  }
  &__right{
    border-left: 1px solid #7f8689;
  }
}