/*--------------------------------------------------------------
## Media Header
--------------------------------------------------------------*/
@import "media_header";

.agile-header{
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 20px 0 20px 0 ;
  background-color: #032633;
  color: #FEFEFF;
  border-bottom: 1px solid rgba(254,254,255,0.2);
  transition: all ease-out 300ms;
}

.region-header{
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5625rem;
  margin-right: -1.5625rem;
}

.agile-branding{
  position: relative;
  flex-wrap: wrap;
  flex-grow: 0;
  z-index: 10;

  img{
    max-width: 160px;
  }
}

.agile-main-menu{
  li {
  }
}