/*--------------------------------------------------------------
## Media Header
--------------------------------------------------------------*/
@import "media/media_header";

.agile-header{
  background-color: transparent;
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.region-header{
  display: flex;
}

.agile-main-menu{
  width: 100%;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style:none;

    li a {
      display: block;
      text-decoration: none;
    }
  }
}

.agile-hero-text {
  position:absolute;
  top: 200px;
  width: 100%;
}
