.header {
	position: absolute;
	display: flex;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid rgba(254, 254, 255, 0.2);
	padding: 20px 0;
}

.header__container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding-left: 25px;
	padding-right: 25px;
}

.header__logo {
	display: flex;
}

.header__menu {
	display: flex;

	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: flex;
			align-items: center;
			margin-right: 15px;
		}

		li {
			a {
				display: block;
				text-decoration: none;
				color: $color__menu-link;
				font-size: 15px;
				font-family: "Montserrat", sans-serif;
				font-weight: 500;
				padding: 20px;
				transition: 0.2s all;
			}

			a:hover {
				color: $color__menu-border;
				transition: 0.2s all;
			}
		}

		.header__button {
			a {
				border: 2px solid $color__menu-border;
				border-radius: 50px;
				font-size: 13px;
				padding: 10px 25px;
				transition: 0.2s all;
			}

			a:hover {
				color: $color__menu-border;
				transition: 0.2s all;
			}
		}
	}
}
