body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	line-height: 1.15;
}

a:link {
	text-decoration: underline;
	color: $color-red-light;
}

a:visited {
	text-decoration: underline;
	color: $color-red-light;
}

a:hover {
	text-decoration: none;
	color: $color-red-light;
}

a:active {
	text-decoration: underline;
	color: $color-red-light;
}

.container {
	padding-left: 1.5625rem;
	padding-right: 1.5625rem;
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}
