.paragraph.paragraph--type--timeline {
	padding-bottom: 140px;

	*::before,
	*::after {
		box-sizing: border-box;
	}
}

.paragraph--type--timeline {
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 60px 0 120px 0;

	.description {
		text-align: center;
		margin-bottom: 60px;
		@media (min-width: 768px) {
			margin-bottom: 160px;
		}

		h2:after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			right: 0;
			height: 3px;
			width: 50px;
			background-color: $color-red;
			margin: 0 auto;
		}
	}

	.timeline-row-blank {
		position: relative;
		margin-top: 60px;
		bottom: -50px;

		@media (max-width: 767px) {
			margin-top: 0;
		}

		& + .timeline-row:before {
			left: 100px;

			@media (max-width: 767px) {
				width: 3px;
				height: auto;
				left: 50%;
				transform: translateX(-50%);
				right: auto;
				top: 0;
				bottom: 0;
			}
		}

		.curve-up {
			position: absolute;
			right: 50%;
			top: -150px;
			bottom: -3px;
			border-radius: 0 0 50% 0;
			border: solid $color-gray-dark;
			border-width: 0 3px 3px 0;
			width: 150px;
			height: auto;
			z-index: 10;
			&:after,
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: -15px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}

			&:after {
				background-color: $color-red;
				border: 1px solid $color-gray-dark;
				padding: 5px;
				background-clip: content-box;
				z-index: 2;
			}

			&:before {
				background-color: $color-white;
				z-index: 1;
			}

			@media (max-width: 767px) {
				border-radius: 0;
				border-width: 0;
				top: -75px;
			}
		}

		&:before {
			content: "";
			position: absolute;
			z-index: 4;
			height: 3px;
			top: 50%;
			left: 100px;
			right: calc(50% + 100px);
			background-color: $color-gray-dark;

			@media (max-width: 767px) {
				width: 3px;
				height: auto;
				left: 50%;
				transform: translateX(-50%);
				right: auto;
				top: 0;
				bottom: 0;
			}
		}

// Left curve
&:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: -103px;
	border-radius: 50% 0 0 50%;
	border: solid $color-gray-dark;
	border-width: 3px 0 3px 3px;
	width: 103px;
	height: auto;
	z-index: 10;

	@media (max-width: 767px) {
		display: none;
	}
}
}

.timeline-row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0;

	&:before {
		content: "";
		position: absolute;
		z-index: 4;
		height: 3px;
		top: 50%;
		left: 150px;
		right: 150px;
		background-color: $color-gray-dark;

		@media (max-width: 767px) {
			width: 3px;
			height: auto;
			left: 50%;
			transform: translateX(-50%);
			right: auto;
			top: 0;
			bottom: 0;
		}
	}

// Right curve
&:after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	bottom: calc(-50% - 3px);
	border-radius: 0 50% 50% 0;
	border: solid $color-gray-dark;
	border-width: 3px 3px 3px 0;
	width: 300px;
	height: auto;
	z-index: 10;

	@media (max-width: 767px) {
		display: none;
	}
}

// Left curve
&:nth-child(odd) {
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		bottom: calc(-50% - 3px);
		border-radius: 50% 0 0 50%;
		border: solid $color-gray-dark;
		border-width: 3px 0 3px 3px;
		width: 300px;
		height: auto;
		z-index: 10;
	}
	@media (min-width: 768px) {
		flex-direction: row-reverse;
		.item {
			&:before, &:after {
				@media (min-width: 768px) {
					left: -10px;
				}
			}
			&:last-child {
				&:before, &:after {
					display: none;
				}
			}
		}
	}
}

&:last-child {
	&:after {
		display: none;
	}
	.item:before,
	.item:after {
		display: block;
		right: 140px;
	}
}
}

.item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	z-index: 11;
	height: 300px;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;

	@media (max-width: 767px) {
		flex: 0 0 100%;
		height: auto;
	}

	.paragraph--type--timeline-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: relative;

		.inner {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-top: 105px;
			@media (min-width: 768px) {
				max-width: 60%;
			}
		}

		.text {
			width: 100%;
			@media (max-width: 767px) {
				background-color: $color-white;
				padding: 10px 20px;
				border-radius: 10px;
			}
		}

		.inner > .field--name-field-media-image {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 100px;
			flex: 0 0 100px;
			margin-bottom: 20px;
			background-color: $color-white;
			border: 3px solid $color-gray-dark;
			border-radius: 50%;

			img {
				width: 50px;
				height: auto;
			}
		}

		.field--name-field-title,
		.field--name-field-text {
			text-align: center;
		}

		.field--name-field-title {
			position: relative;
			padding-bottom: 24px;
			font-size: 22px;
			font-weight: 700;
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			color: $color-black-light;
			line-height: 1.1;

			&:after {
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				right: 0;
				height: 3px;
				width: 50px;
				background-color: $color-red;
				margin: 0 auto;
			}
		}

		.field--name-field-text {
			color: $color-black-light;
			@media (max-width: 767px) {
				padding-bottom: 20px;
			}
		}

		.field--name-field-number {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: calc(50% - 30px);
			top: -5px;
			width: 25px;
			flex: 0 0 25px;
			height: 25px;
			background-color: $color-black-light;
			font-size: 12px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			color: $color-white;
			border-radius: 50%;
		}
	}

	&:after,
	&:before {
		content: "";
		position: absolute;
		top: calc(50% - 8px);
		right: -10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;

		@media (max-width: 767px) {
			top: auto;
			bottom: -50px;
			left: 50%;
			transform: translateX(-50%);
			right: auto;
		}
	}

	&:after {
		background-color: $color-red;
		border: 1px solid $color-gray-dark;
		padding: 5px;
		background-clip: content-box;
		z-index: 2;
	}

	&:before {
		background-color: $color-white;
		z-index: 1;
	}

	&:last-child:after,
	&:last-child:before {
		display: none;
		@media (max-width: 767px) {
			display: block;
		}
	}
}
}