$color-white: #FFFFFF;
$color-white-gray: #FEFEFF;
$color-green: #032633;
$color-green-light: #044761;
$color-gray: #d4dbde;
$color-gray-dark: #7f8689;
$color-black-light: #1f2122;
$color-orange: #FF9F09;
$color-silver: #cccccc;
$color-red: #ef4623;
$color-red-light: #ff7154;
